*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}
.header{
    position:flex-container;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:  100;

}

.navbar a{
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.bnavbar a::before{
    content: '';
    position: absolute;
    top: 100;
    left: 0;
    width: 0;
    height:2px;
    background: #fff;
    transition:3s;

}
.navbar a:hover::before{
width:100%;

}