.body
{
    background-color: black;
}

#denger
{
    background-color: red;
    color: white;
    text-align: center;
}

form
{
    width: 430px;
    background-color: white;
    padding: 30px 70px;
    margin-top: 260px;
    margin-left: 29%;
    border-radius: 15px;
    animation: passchanged 2s infinite;
}

@keyframes passchanged
{
    50% {box-shadow: 5px 5px 5px 10px green;}
}

p
{
    text-align: center;
    margin-top: 2px;
    padding-bottom: 2px;
    background-color: limegreen;
    padding: 10px;
    border-radius: 15px;
    color: darkgreen;
}

.inputbutton
{
    width: 431px;
    background-color: cornflowerblue;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0px;
    color: white;
    transition: background-color 0.4s;
    border-radius: 15px;
}

.inputbutton:hover
{
    opacity: 0.8;
}